numpy==1.24
setuptools
git+https://github.com/cocodataset/panopticapi.git
cython
scipy
shapely
h5py
submitit
scikit-image
compas
psutil
trimesh
open3d
timm
fairscale
yapf
transformers==4.37.2
opencv-python==4.6.0.66
pycocotools
supervision
pymeshlab==2022.2.post2
git+https://github.com/xinyu1205/recognize-anything.git